<p id="notice"><%= notice %></p>

<p>
  <strong>Pokeapi:</strong>
  <%= @type.pokeapi_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Generation name:</strong>
  <%= @type.generation_name %>
</p>

<p>
  <strong>Double damage from:</strong>
  <%= @type.double_damage_from.map{|ens| ens.name}.join(', ') %>
</p>

<p>
  <strong>Double damage to:</strong>
  <%= @type.double_damage_to.map{|ens| ens.name}.join(', ') %>
</p>

<p>
  <strong>Half damage from:</strong>
  <%= @type.half_damage_from.map{|ens| ens.name}.join(', ') %>
</p>

<p>
  <strong>Half damage to:</strong>
  <%= @type.half_damage_to.map{|ens| ens.name}.join(', ') %>
</p>

<p>
  <strong>No damage from:</strong>
  <%= @type.no_damage_from.map{|ens| ens.name}.join(', ') %>
</p>

<p>
  <strong>No damage to:</strong>
  <%= @type.no_damage_to.map{|ens| ens.name}.join(', ') %>
</p>

<p>
  <strong>Generation name:</strong>
  <%= @type.generation_name %>
</p>

<p>
  <strong>Move damage class name:</strong>
  <%= @type.move_damage_class_name %>
</p>

<p>
  <strong>Moves names:</strong>
  <%= @moves %>
</p>

<p>
  <strong>Pokemon:</strong>
  <%= @type.pokemons.map{|ens| ens.name}.join(', ') %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
